<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:include="~{fragments/head}"/>
<body>
<th:block th:include="~{fragments/header}"/>

<main>
    <div class="container">
        <div class="text-center mb-3">

        </div>
        <hr class="my-3"/>
        <div id="toChange" class=".quotes-data">
            <div class="mt-3">
                <h1 class="text-black text-center" style="font-size: larger">Welcome to CarDealer !</h1>
            </div>
        </div>
    </div>
</main>
<th:block th:include="~{fragments/footer}"/>
</body>
</html>